<html>
<body>
    <h2>Registration Form</h2>
    <a href="mainpage">Back to home</a>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_user_name" class="control-group"> <label for="id_user_name" class="control-label requiredField">
        Username<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="user_id" maxlength="64" class="textinput textInput" required="" id="id_user_name"> </div> </div> <div id="div_id_email" class="control-group"> <label for="id_email" class="control-label requiredField">
        Email<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="email" maxlength="64" class="textinput textInput" required="" id="id_email"> </div> 

        <br>
        <button type="submit" value="Add">Register</button>
    </form>
</body>
</html>

