{% load static %}
<html>

<head>
    <title>IT2002</title>
</head>
<body>
    <h2>Best Places in Each City</h2>
    <img src="{% static 'static/avatar.jpg' %}" width="10%"   alt="Discord"/><br/>
    <a href = "/bestplaces"><button>Back to Available Places</button></a>|<a href="/booking"><button>Booking</button></a>
    <br/><br/>
    <table border=1>
        <thead>
            <th>Address</th>
            <th>City</th>
            <th>Country</th>
            <th>Average Rating</th>
            <th>Action</th>
        </thead>
        {% for best_places in records %}
        <tr>
            <td> {{best_places.0}} </td>
            <td> {{best_places.1}} </td>
            <td> {{best_places.2}} </td>
            <td>{{best_places.3}}</td>
            <td>
                <a href="place_view/{{best_places.0}}"><button>View</button></a> | 
                <a href="reviews/{{best_places.0}}"><button>Check Reviews</button></a> |
                <a href="schedule/{{best_place.1}}"><button>Schedule</button></a> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>