	

<form action="#" method="post">
    <h2>Registration Form</h2>
    <a href="/">Back to home</a>
          <p>
              <label for="Username" class="floatLabel">Username</label>
              <input id="Username" name="Username" type="text">
          </p>
          <p>
              <label for="Email" class="floatLabel">Email</label>
              <input id="Email" name="Email" type="text">
          </p>
          <p>
              <label for="password" class="floatLabel">Password</label>
              <input id="password" name="password" type="text">
          </p>
          <p>
              <input type="submit" value="Create My Account" id="submit">
          </p>
      </form>