<html>
<body>
    <h2>Booking</h2>
    <a href="/places">Back to Places</a>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_user_name" class="control-group"> <label for="id_user_name" class="control-label requiredField">
        Username<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="username" maxlength="64" class="textinput textInput" required="" id="id_user_name"> </div> </div> <div id="div_id_place" class="control-group"> <label for="id_place" class="control-label requiredField"></div> <div id="div_id_password" class="control-group"> <label for="id_password" class="control-label requiredField">
        Password<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="password" maxlength="64" class="textinput textInput" required="" id="id_password"> </div> </div> 
        Place<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="place" maxlength="64" class="textinput textInput" required="" id="id_place"> </div> </div> <div id="div_id_start_date" class="control-group"> <label for="id_start_date" class="control-label requiredField">
        Start Date<span class="asteriskField">*</span> </label> <div class="controls"> <input type="date" name="start_date" maxlength="64" class="textinput textInput" required="" id="id_start_date"> </div> </div> <div id="div_id_end_date" class="control-group"> <label for="id_end_date" class="control-label requiredField">
        End Date<span class="asteriskField">*</span> </label> <div class="controls"> <input type="date" name="end_date" maxlength="64" class="textinput textInput" required="" id="id_end_date"> </div>
        

        <br>
        <button type="submit" value="Add">Book Now</button>
    </form>
</body>
</html>