<html>
<body>
    <h2>Details for {{host.0}}</h2>
    <a href="/hosts"><button>Back to hosts</button></a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>Username</th>
            <td>:</td>
            <td> {{host.0}} </td>
        </tr>
        <tr>
            <th>Address</th>
            <td>:</td>
            <td> {{host.1 }} </td>
        </tr>
        <tr>
            <th>City</th>
            <td>:</td>
            <td> {{host.2}} </td>
        </tr>
        <tr>
            <th>Country</th>
            <td>:</td>
            <td> {{host.3}} </td>
        </tr>
        <tr>
            <th>Revenue</th>
            <td>:</td>
            <td> {{host.4}} </td>
        </tr>
    </table>
</body>
</html>