{% load static %}
<html>

<head>
    <h2>Users in the AirBnb App</h2>
</head>
<body>
<p style = "background-image:url(https://previews.123rf.com/images/opicobello/opicobello1603/opicobello160300006/52778779-resumen-de-antecedentes-con-la-luz-transparente-de-color-estampado-de-flores.jpg"

    <a href="add"><button>New user</button></a>|<a href="logout"><button>Logout</button></a><a href="hosts"><button>Hosts</button></a> 
    <br/><br/>
    <table border=1>
        <thead>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Action</th>
        </thead>
        {% for user in records %}
        <tr>
            <td> {{user.0}} </td>
            <td> {{user.1}} </td>
            <td> {{user.2}} </td>
            <td>
                <a href="view/{{user.0}}"><button>View</button></a> | 
                <a href="edit/{{user.0}}"><button>Edit</button></a>
                | 
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{user.0}}"/>
                <button onclick="return confirm('Are you sure you want to delete {{user.0}}?');" type="submit" name="action" value="delete">Delete</button> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
</p>
</body>
</html>