{% load static %}
<html>
<head>
    <title>IT2002</title><br>
<p>Welcome {{user.id}}!</p>
</head>
<body>
    <h2>Places for booking</h2>
    <a href="/bestplaces">Find out Top Places in Each City!</a><br/>
    <a href="logout"><button>Logout</button></a> 
    <br/><br/>
    <table border=1>
        <thead>
            <th>Address</th>
            <th>City</th>
            <th>Country</th>
            <th>Price Per Night</th>
            <th>Action</th>
        </thead>
        {% for place in records %}
        <tr>
            <td> {{place.1}} </td>
            <td> {{place.2}} </td>
            <td> {{place.4}} </td>
            <td>{{place.3}}</td>
            <td>
                <a href="place_view/{{place.1}}"><button>View</button></a> | 
                <a href="reviews/{{place.1}}"><button>Check Reviews</button></a> | 
                <a href="schedule/{{place.1}}"><button>Schedule</button></a> 
        </tr>
        {% endfor %}
    </table>
</body>
</html>