{% load static %}
<html>

<head>
    <title>IT2002</title>
</head>
<body>
    <h2>Users in the AirBnb App</h2>
    <img src="{% static 'static/avatar.jpg' %}" width="10%"   alt="Discord"/><br/>
    <a href="/places">Back to Available Places</a>
    <br/><br/>
    <table border=1>
        <thead>
            <th>Booking ID</th>
            <th>Rating</th>
            <th>Review</th>
        </thead>
        {% for review in records %}
        <tr>
            <td> {{review.1}} </td>
            <td> {{review.3}} </td>
            <td> {{review.2}} </td>
        {% endfor %}
    </table>
</body>
</html>