{% load static %}
<html>
    <head>
    <h2>Reviews of the Place</h2>
</head>
    <p style = "background-image:url(https://cdn.wallpapersafari.com/79/31/E547v1.jpg)">
 <a href="/places"><button>Back to Available Places</button></a>
    <br/><br/>  

<body>
    <table border=1>
        <thead>
            <th>Booking ID</th>
            <th>Rating</th>
            <th>Review</th>
        </thead>
        {% for review in records %}
        <tr>
            <td> {{review.1}} </td>
            <td> {{review.3}} </td>
            <td> {{review.2}} </td>
        {% endfor %}
    </table>
</body>
</p>
</html>