<html>
    <head>
        <title>Reset Password</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <body>
            <div class="resetpw">
                <form method="POST" class="form" action="login.html"> 
                    <h2>Forgot your password?</h2>
                    <div class="input-group">
                        <input type="text" name="existingLoginUser" id="existingLoginUser" required>
                        <label for="existingLoginUser">User ID</label>
                    </div>
                    <div class="input-group">
                        <input type="text" name="resetPW" id="resetPW" required>
                        <label for="resetPW">New Password</label>
                    </div>
                    <div class="input-group">
                        <input type="text" name="confirmPW" id="confirmPW" required>
                        <label for="confirmPW">New Password</label>
                    </div>
                    <input type="submit" value="Reset" class="reset-btn">
                </form>
            </div>
        </body>
    </head>

</html>